<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="./img/rafi.png" alt="Muhammad Rafi Ramdani" width="160" height="200" class="img-fluid">
      <h1 class="display-4">Muhammad Rafi Ramdani</h1>
      <p class="lead">Software Developer</p>
    </div>
  </div>
</div>