<h1>Home</h1>
<h2>Hello, <%= nama %>
</h2>

<h4>Daftar Mahasiswa</h4>

<% if (mahasiswa.length < 1) { %>
  <p>Tidak ada data</p>
  <% } %>

    <% mahasiswa.forEach(mhs=> { %>
      <ul>
        <li>
          Nama : <%= mhs.nama %>
        </li>
        <li>
          Email : <%= mhs.email %>
        </li>
      </ul>
      <% }) %>